Application/*.iml
Application/.gradle
Application/local.properties
Application/.idea/caches
Application/.idea/libraries
Application/.idea/modules.xml
Application/.idea/workspace.xml
Application/.idea/navEditor.xml
Application/.idea/assetWizardSettings.xml
Application/.DS_Store
Application/build
Application/captures
Application/.externalNativeBuild
Application/.cxx

Serveur/bin/
